{{- $original := .Get "src" }}
{{- with .Page.Resources.Match $original }}
	{{- range . }}
		{{- $original = .RelPermalink }}
	{{- end }}
{{- end }}
<style>
  rapi-doc::part(section-endpoint-head-method) {
    font-size: 11px;
  }
</style>
<rapi-doc
  allow-spec-file-download="true"
  default-schema-tab="example"
  font-size="largest"
  layout="column"
  load-fonts="false"
  render-style="view"
  schema-description-expanded="true"
  schema-style="table"
  show-header="false"
  spec-url="{{ $original }}"
  sort-tags="true"
></rapi-doc>
{{- .Page.Store.Set "htmlHasSwagger" true }}