    {{- $assetBusting := not .Site.Params.disableAssetsBusting }}
    {{- if (fileExists "/static/images/favicon.svg") }}
    <link rel="icon" href="{{ "/images/favicon.svg" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" type="image/svg+xml">
    {{- else if (fileExists "/static/images/favicon.png") }}
    <link rel="icon" href="{{ "/images/favicon.png" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" type="image/png">
    {{- else if (fileExists "/static/images/favicon.ico") }}
    <link rel="icon" href="{{ "/images/favicon.ico" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" type="image/x-icon">
    {{- else if (fileExists "/static/images/logo.svg") }}
    <link rel="icon" href="{{ "/images/logo.svg" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" type="image/svg+xml">
    {{- else if (fileExists "/static/images/logo.png") }}
    <link rel="icon" href="{{ "/images/logo.png" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" type="image/png">
    {{- else if (fileExists "/static/images/logo.ico") }}
    <link rel="icon" href="{{ "/images/logo.ico" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}" type="image/x-icon">
    {{- end }}