body.main-width-max #R-body .flex-block-wrapper {
max-width: 1170px;
width: 100%;
}
status-article {
  display: block;
  box-sizing: border-box;
  vertical-align: top;
}
status-section {
  width: 100%;
}
status-section:has(status-article) {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 5px;
  align-items: flex-start;
}
status-section:has(status-article) > status-article {
  flex: 0 0 calc(33.333% - 24px);
  min-width: 260px;
}
@media (max-width: 1100px) {
  status-section:has(status-article) > status-article {
    flex: 0 0 calc(50% - 24px);
  }
}
@media (max-width: 720px) {
  status-section:has(status-article) > status-article {
    flex: 0 0 100%;
  }
}
status-article > details > div {
  padding-left: 3px;
  padding-right: 3px;
}
status-section > details > summary {
    font-size: 26px;
    font-weight: bold;
    color: #08c;
    text-decoration: underline;
    cursor: pointer;
}
status-section > status-article > details > summary {
  color: #08c;
  text-decoration: underline;
  cursor: pointer;
}
i.icon-star:before { 
  color: #a00;
  font-size: 16px;
  font-style: normal;
  content: "\2605"; 
}
blockquote {
  border-left: 5px solid #eee;
}
::marker{ display:none; } 
summary{ list-style: none }
